
credentialsPath: /etc/wordpress-article-transformer-credentials.properties

healthCheckWordPressConnections:
    - hostName: {{{hostname_1}}}
      port: {{{port_1}}}
      path: {{{path_1}}}
    - hostName: {{{hostname_2}}}
      port: {{{port_2}}}
      path: {{{path_2}}}
    - hostName: {{{hostname_3}}}
      port: {{{port_3}}}
      path: {{{path_3}}}
    - hostName: {{{hostname_4}}}
      port: {{{port_4}}}
      path: {{{path_4}}}
    - hostName: {{{hostname_5}}}
      port: {{{port_5}}}
      path: {{{path_5}}}
    - hostName: {{{hostname_6}}}
      port: {{{port_6}}}
      path: {{{path_6}}}
    - hostName: {{{hostname_7}}}
      port: {{{port_7}}}
      path: {{{path_7}}}
    - hostName: {{{hostname_8}}}
      port: {{{port_8}}}
      path: {{{path_8}}}
    - hostName: {{{hostname_9}}}
      port: {{{port_9}}}
      path: {{{path_9}}}
    - hostName: {{{hostname_10}}}
      port: {{{port_10}}}
      path: {{{path_10}}}
    

blogApiEndpointMetadata:
    - host: blogs.ft.com/brusselsblog
      brand: http://api.ft.com/things/6773e864-78ab-4051-abc2-f4e9ab423ebb
      id: FT-LABS-WP-1-3
    - host: blogs.ft.com/businessblog
      brand: http://api.ft.com/things/fd4459b2-cc4e-4ec8-9853-c5238eb860fb
      id: FT-LABS-WP-1-9
    - host: blogs.ft.com/westminster
      brand: http://api.ft.com/things/5e5dba2b-8031-4a65-b193-84a58882c62e
      id: FT-LABS-WP-1-12
    - host: ftalphaville.ft.com
      brand: http://api.ft.com/things/89d15f70-640d-11e4-9803-0800200c9a66
      id: FT-LABS-WP-1-24
    - host: blogs.ft.com/mba-blog
      brand: http://api.ft.com/things/0cfee514-db0b-4474-b7a6-bf4db16a1380
      id: FT-LABS-WP-1-51
    - host: blogs.ft.com/beyond-brics
      brand: http://api.ft.com/things/3a37a89e-14ce-4ac8-af12-961a9630dce3
      id: FT-LABS-WP-1-91
    - host: blogs.ft.com/material-world
      brand: http://api.ft.com/things/13006c72-7d1b-47a0-96fe-d1ad1f12de9f
      id: FT-LABS-WP-1-106
    - host: blogs.ft.com/off-message
      brand: http://api.ft.com/things/8348b79b-5665-409c-8696-6904f9a26fc6
      id: FT-LABS-WP-1-252
    - host: blogs.ft.com/lex-live
      brand: http://api.ft.com/things/e363dfb8-f6d9-4f2c-beba-5162b334272b
      id: FT-LABS-WP-1-302
    - host: blogs.ft.com/the-exchange
      brand: http://api.ft.com/things/462507e2-e20a-431d-9648-a9131770b3aa
      id: FT-LABS-WP-1-332

jerseyClient:
    timeout: {{{jerseyClientTimeout}}}
numberOfConnectionAttempts: 3

server:

  applicationConnectors:
    - type: http
      port: 8080

  adminConnectors:
      - type: http
        port: 8081

  requestLog:

    appenders:

      - type: file

        # The file to which current statements will be logged.
        currentLogFilename: /var/log/apps/wordpressarticletransformer-dw-access.log

        # When the log file rotates, the archived log will be renamed to this and gzipped. The
        # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
        # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
        archivedLogFilenamePattern: /var/log/apps/wordpressarticletransformer-dw-access-%d.log.gz

        # The number of archived files to keep.
        archivedFileCount: 6

        # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
        timeZone: UTC

logging:

  level: INFO

  loggers:
    io.dropwizard: DEBUG

  appenders:

    - type: file
      logFormat: "%-5p [%d{ISO8601, GMT}] %c: %X{transaction_id} %m [%thread]%n%xEx"
      # Do not write log statements below this threshold to the file.
      threshold: ALL

      # The file to which current statements will be logged.
      currentLogFilename: /var/log/apps/wordpressarticletransformer-dw-app.log

      # When the log file rotates, the archived log will be renamed to this and gzipped. The
      # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
      # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
      archivedLogFilenamePattern: /var/log/apps/wordpressarticletransformer-dw-app-%d.log.gz

      # The number of archived files to keep.
      archivedFileCount: 5

      # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC
