healthCheckWordPressConnections:
    - hostName: {{{hostname_1}}}
      port: 80
      path: /api/get_recent_posts/
    - hostName: {{{hostname_2}}}
      port: 80
      path: /tech-blog/api/get_recent_posts/

hostToBrandMappings:
    - host: unlocalhost
      brand: http://api.ft.com/things/5c7592a8-1f0c-11e4-b0cb-b2227cce2b54

jerseyClient:
    timeout: 100ms
numberOfConnectionAttempts: 3

fastFtBrandId: http://api.ft.com/things/5c7592a8-1f0c-11e4-b0cb-b2227cce2b54

server:

  applicationConnectors:
    - type: http
      port: 14180

  adminConnectors:
      - type: http
        port: 14181

  requestLog:

    appenders:

      - type: console

        # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
        timeZone: UTC

      - type: file

        # The file to which current statements will be logged.
        currentLogFilename: /var/log/apps/wordpressarticletransformer-dw-access.log

        # When the log file rotates, the archived log will be renamed to this and gzipped. The
        # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
        # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
        archivedLogFilenamePattern: /var/log/apps/wordpressarticletransformer-dw-access-%d.log.gz

        # The number of archived files to keep.
        archivedFileCount: 6

        # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
        timeZone: UTC

logging:

  level: INFO

  loggers:
    io.dropwizard: DEBUG

  appenders:

    - type: console
      logFormat: "%-5p [%d{ISO8601, GMT}] %c: %X{transaction_id} %m [%thread]%n%xEx"

    - type: file
      # Do not write log statements below this threshold to the file.
      threshold: ALL

      # The file to which current statements will be logged.
      currentLogFilename: /var/log/apps/wordpressarticletransformer-dw-app.log

      # When the log file rotates, the archived log will be renamed to this and gzipped. The
      # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
      # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
      archivedLogFilenamePattern: /var/log/apps/wordpressarticletransformer-dw-app-%d.log.gz

      # The number of archived files to keep.
      archivedFileCount: 5

      # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
      timeZone: UTC
