# To obtain the key:
# if you are adding a new VM to an existing group, get the key from an already existing credentials file on one of the other boxes,
# or, if you are creating a new group, get the key from Jan Majek.
wordpress.contentApi.key=ENTERAKEYHERE