# To obtain the key:
# if you are adding a new VM to an existing group, get the key from an already existing credentials file on one of the other boxes,
# or, if you are creating a new group, get the key from Jan Majek.
# Alternatively, you can also find the key by logging on to the appropriate wordpress instance with admin privileges and going to
# Settings > JSON API (look for the Authorized Keys).
wordpress.contentApi.key=ENTERAKEYHERE

